<!DOCTYPE html>


{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Walrus Bay</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="header">
    <a id="logo" href="/"><img src="{% static 'images/nazwa.png' %}" alt="Walrus Bay"></a>
    <div class="dropdown">
      <button class="dropbtn">Kategorie kursów</button>
      <div class="dropdown-content">
        {% for row in categories %}

        <div class="row borders">
          <div class="col-md-5"></div>

          <div class="col-md-2">
            <a class="lista" href="/kursy/{{ row}}">{{ row}}</a>
          </div>

        </div>

        {% endfor %}
      </div>
    </div>

    {% if user.is_authenticated %}
    <div class="header-right">
      <div id="hello"><b>Witaj,<br>{{user.username }}</b></div>
      <a id="logout" href="/accounts/logout">Wyloguj się</a>
    </div>

    {% else %}
    <div class="header-right">
      <a class="menu" href="/login">Zaloguj się</a>
    </div>
    {% endif %}

  </div>

  {% block content %}
  {% endblock %}
</body>

</html>