<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Walrus Bay</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    
    <body>
    <div id="container">
    
    <div class="header">
      <a id="logo" href="index.html"><img src="static/images/nazwa.png" alt="Walrus Bay"></>
      <div class="dropdown">
          <button class="dropbtn">Kategorie kursów</button>
          <div class="dropdown-content">
            <a href="#">Matematyka</a>
            <a href="#">Elektronika</a>
            <a href="#">Programowanie</a>
            <a href="#">Biologia</a>
            <a href="#">Sygnały</a>
          </div>
        </div>
        
      <div class="header-right">
        <a class="menu" href="newuser.html">Zarejestruj się</a>
        <a class="menu" href="#zak">Zaloguj się</a>
        <input type="text" placeholder="Szukaj..">
      </div>
    </div>
    
    <div id="content">
    <br><br><br><br><br><br>
    
    <div class="slideshow-container">
    
    <div class="mySlides fade">
        <div class="text">Zanurz się w świat nauki<br>z naszymi kursami</div>
        <div class="button"><a href="newuser.html">Załóż konto</a></div>
    </div>
    
    <div class="mySlides fade">
        <div class="text">Kurs dnia:<br>Pola i fale</div>
        <div class="button"><a href="kurs.html">Sprawdź</a></div>
    </div>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span>
    </div>
    
    <script>
    var slideIndex = 0;
    showSlides();
    
    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
    </script>
    </div>
    
    </body>

</html>