{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
{% block extra_css %}
<link href="{% static 'css/kurs.css' %}" rel="stylesheet" media="screen">
{% endblock %}

<div role="main">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

	<h1 id="kurs">{{kurs}}:</h1>
    <br>
    <table id="tab">
    <tr><td>

    {% for row in filmy %}

<iframe width="560" height="315" src="{{ row.hiperlacze }}" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td><td>
<h3 id="tytul">{{ row.tytul }}</h3>

<div class="opis">
{{row.opis}}

</div>

</td></tr>
<tr><td>

<br>
    {% endfor %}
    

</div>
{% endblock %}
