{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
{% block extra_css %}
<link href="{% static 'css/kursyDoKategorii.css' %}" rel="stylesheet" media="screen">
{% endblock %}
<div role="main">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <h1 id="kategoria">{{kategoria}}:</h1>
    
    <br>
    {% for row in kursy %}

    <div>
            <button class="listaKat btn" onclick="location.href='/kursy/{{ row.kategoria }}/{{ row.nazwa }}'" type="button">{{ row.nazwa }}</button>
    </div>

    {% endfor %}
    

</div>
{% endblock %}

