{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<div role="main">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <table style="margin-left: 8%">
    <tr ><td>

    {% for row in filmy %}

<iframe  width="560" height="315" src="{{ row.hiperlacze }}" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</td><td>
<h1>{{ row.tytul }}</h1>
<div class="opis">
<h7 style="color: whitesmoke">{{row.opis}}</h7>
</div>
</td></tr>
<tr><td>


    {% endfor %}
    

</table></div>
{% endblock %}
